<div class="mb-3">
    @Html.Label("CompanyName", "Company Name", new { @class = "form-label" })
    @Html.TextBox("CompanyName", null, new { @class = "form-control" })
</div>

<div class="mb-3">
    @Html.Label("Location", "Location", new { @class = "form-label" })
    @Html.TextBox("Location", null, new { @class = "form-control" })
</div>
